DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gatehub"
BETTER_AUTH_SECRET="generate-a-random-secret-with-at-least-32-characters"
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
